<div class="row align-items-center mb-3">
  <div class="col">
    <%== partial(expression.args[0].name.downcase, { expression: expression.args[0], base_name: "#{base_name}[args][0]" }) %>
  </div>
  <div class="col-auto">
    <select class="form-select" name="<%= "#{base_name}[type]" %>">
      <option value="Equal" <%= 'selected' if expression.name == 'Equal' %>>=</option>
      <option value="NotEqual" <%= 'selected' if expression.name == 'NotEqual' %>>!=</option>
      <option value="GreaterThan" <%= 'selected' if expression.name == 'GreaterThan' %>>></option>
      <option value="GreaterThanOrEqualTo" <%= 'selected' if expression.name == 'GreaterThanOrEqualTo' %>>>=</option>
      <option value="LessThan" <%= 'selected' if expression.name == 'LessThan' %>><</option>
      <option value="LessThanOrEqualTo" <%= 'selected' if expression.name == 'LessThanOrEqualTo' %>><=</option>
    </select>
  </div>
  <div class="col">
    <%== partial(expression.args[1].name.downcase, { expression: expression.args[1], base_name: "#{base_name}[args][1]" }) %>
  </div>
</div>
