<input type="hidden" name="<%= base_name %>[type]" value="PercentageOfActors" />
<div class="row">
  <div class="col">
    <input type="text" name="<%= base_name %>[args][0]" value="<%= expression.args[0].value %>" class="form-control" />
  </div>
  <div class="col">
    <input type="text" name="<%= base_name %>[args][1]" value="<%= expression.args[1].value %>" class="form-control" />
  </div>
</div>
