<% if params.key?("error") %>
  <div class="flash flash-error">
    <%= params["error"] %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enable Actor for <%= @feature.key %></h3>
  </div>
  <div class="panel-body">
    <p>
      Turn on this feature for an individual actor.
    </p>
    <form action="<%= script_name %>/features/<%= @feature.key %>/actors" method="post">
      <%== csrf_input_tag %>
      <input type="hidden" name="operation" value="enable">
      <input type="text" name="value" placeholder="ie: User:6">
      <input type="submit" value="Add Actor" class="btn">
    </form>
  </div>
</div>
