<%- if Flipper::UI.configuration.feature_creation_enabled -%>
  <div class="mb-3">
    <a class="btn btn-primary" href="<%= script_name %>/features/new">Add Feature</a>
  </div>
<%- end -%>

<% if @show_blank_slate %>
  <div class="jumbotron text-center">
    <span class="mega-octicon octicon-plus"></span>
    <span class="mega-octicon octicon-list-unordered"></span>
    <span class="mega-octicon octicon-zap"></span>
    <% if Flipper::UI.configuration.fun %>
      <h4>But I've got a blank space baby...</h4>
      <p>And I'll flip your features.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0" allowfullscreen></iframe>
      </div>
    <% else %>
      <h4>There aren't any features to configure.</h4>
      <p>
        Check the <a href="https://github.com/jnunemaker/flipper#examples">examples</a> to
        learn how to add one.
      </p>
    <% end %>
  </div>
<% else %>
  <div class="card">
    <h4 class="card-header">Features</h4>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col-1">
            <span class="octicon octicon-squirrel"></span>
          </th>
          <th class="col">Feature</th>
          <% if Flipper::UI.configuration.using_descriptions? %>
            <th class="col-6 d-none d-md-table-cell">Description</th>
          <% end %>
          <th class="col d-none d-md-table-cell">Enabled Gates</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each do |feature| %>
          <tr class="d-flex">
            <td class="col-1">
              <span class="octicon octicon-squirrel <%= feature.color_class %>" data-toggle="tooltip" title=<%= feature.state.to_s.capitalize %>></span>
            </td>
            <td class="col text-truncate">
              <a href="<%= "#{script_name}/features/#{feature.key}" %>">
                <%= feature.key %></a>
            </td>
            <% if Flipper::UI.configuration.using_descriptions? %>
              <td class="col-6 d-none d-md-table-cell">
                <% if feature.description.nil? || feature.description.empty? %>
                  <span class="text-muted font-italic">None</span>
                <% else %>
                  <%= feature.description %>
                <% end %>
              </td>
            <% end %>
            <td class="col d-none d-md-table-cell">
              <%= feature.pretty_enabled_gate_names %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
